<div class="login-page">
    <div class="login-form">
             <mat-card>
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group text-center">
                        <img src="assets/img/logo.png">
                    </div>
                    <div class="form-group">
                            <div class="col-sm-6">
                               <input type="email" class="form-control" id="email" placeholder="Enter code" name="email">
                           </div>
                           <div class="col-sm-6">
                               <select class="form-control">
                                    <option value="1718" selected>2017-2018</option>
                                    <option value="1617">2016-2017</option>
                               </select>
                             </div>

                       </div>

                    <div class="form-group">
                         <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="Enter username" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                         <div class="col-sm-12">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-sm-6">
                                <mat-checkbox>Remember me</mat-checkbox>
                        </div>
                        <div class=" col-sm-6">
                               <a href=""> Forgot password ?</a>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                                <button mat-raised-button color="warn" class="w100"> Login </button>
                            </div>
                    </div>
                </form>
            </mat-card>
     </div>
</div>